* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
}

.main header {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 60px;
    background-color: #141618;
}

.main header .logo {
    margin-left: 74px;
}

.main header .dropdown {
    display: flex;
    gap: 12px;
}

.main header .dropdown span {
    font-size: 14px;
    font-weight: 300;
}

.main header .dropdown i,
.main header .dropdown span {
    color: #d2d3d3;
    transition: 0.1s;
}

.main header .dropdown i:hover {
    color: #fff;
}

.main header .dropdown span:hover {
    color: #fff;
}

.main .landing {
    display: flex;
    align-items: center;
    height: 640px;
    background: linear-gradient(170deg,#212A39 0%,#181E28 100%);
}

.main .landing img {
    transition: ease-out 0.3s;
    margin-left: 110px;
}

.main .landing img:hover {
    transform: scale(1.05);
}

.main .landing .landing-description {
    width: 590px;
    height: 324px;
    margin-left: 120px;
}

.main .landing .landing-description button {
    width: 254px;
    height: 48px;
    color: #fff;
    background-color: #316aff;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.2s;
}

.main .landing .landing-description button:hover {
    transform: scale(1.1);
}

.main .landing .landing-description .description-text {
    color: #fff;
}

.main .landing .landing-description .description-text span {
    font-size: 48px;
}

.main .landing .landing-description .description-text p {
    font-size: 24px;
    font-weight: 300;
    color: #b0b6be;
    margin: 10px 0 65px 0
}

.main .features {
    display: flex;
    height: 774px;
    background-color: #F4F7F9;
}

.main .features .box-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 392px;
    height: 624px;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 72px;
}

.main .features .box-container .box {
    width: 184px;
    height: 184px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 200ms;
}

.main .features .box-container .box span {
    margin-top: 20px;
    font-size: 18px;
}

.main .features .box-container .box img {
    width: 40px;
    height: 40px;
}

.main .features .box-container .box:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.main .features .features-description {
    width: 500px;
    height: 402px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 28px;
    align-self: center;
    margin-left: 160px;
    margin-top: 100px;
}

.main .features .features-description span {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.main .features .features-description div {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main .features .features-description p {
    font-size: 18px;
    font-weight: 300;
}

.main .testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 467px;
    background-color: #F4F7F9;
}

.main .testimonial .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1276px;
    height: 362px;
    background-color: #fff;
}

.main .testimonial .testimonial-container .quote {
    width: 56px;
    height: 56px;
    margin-top: 50px;
}

.main .testimonial .testimonial-container span {
    width: 700px;
    height: 72px;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}

.main .testimonial .testimonial-container .author {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.main .testimonial .testimonial-container .author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main .testimonial .testimonial-container .author p {
    color: #4c4c4c;
}

.main .proposition {
    display: flex;
    justify-content: center;
    height: 558px;
    background-color: #F4F7F9;
}

.main .proposition .proposition-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 558px;
    height: 558px;
}

.main .proposition .proposition-description .proposition-title {
    font-size: 36px;
    font-weight: 600;
}

.main .proposition .proposition-description .proposition-text {
    font-size: 18px;
    line-height: 28px;
    color: #36393b;
}

.main .proposition .proposition-description button {
    width: 270px;
    height: 48px;
    color: #fff;
    background-color: #36845a;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.2s;
}

.main .proposition .proposition-img {
    display: flex;
    align-items: flex-end;
    width: 558px;
    height: 558px;
}

footer {
    height: 478px;
    background-color: #000;
}